$color_first:#fff;
$color_second:#06a562;
$color_block:#06A763;
$color_third:#1976d2;
$color_fourth:#ef6c00;
$color_fifth:#f44336;
$color_six:#403548;
$color_hover:rgba(0, 0, 0, 0.575);
$color_trans:transparent;
$color_border:#00000015;
$color_face:#3F51B5;
$color_twitter:#2196F3;
$color_google:#F44336;
$color_wifi:#EF6C00;
$color_linked:#1565C0;
$color_back:#F5F5F5;
$color_text: #757575;
$color_text_card:#797979;
//$color_text_card:#747474;
$color_border_left:#1976D2;
$color_qotes:#1976D2;
$color_links:#4698E9;
$width_section:100%;
$margin_section:6.5rem;
$shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.3);
$shadow_text:2px 2px 4px rgba(0, 0, 0, 0.29);
$shadow_blocks:1px 2px 2px 2px rgba(0, 0, 0, 0.199);
$cursor_hover:pointer;
$font_weight:450;

