.dates
{
    color: white;
    font-size: 13px;
    position: absolute;
    bottom: -5rem;
    left: 19rem;
    font-family: 'Muli', sans-serif;
    animation-name:list_dates;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-fill-mode:forwards;

}
