
.title_with_image
{
   

    .title
{
    color: #616161;
    font-weight: 550;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    margin: 1.5rem;
    
   
      
}
}