.progressbar {
    background-color:#05985A;
    border-radius: 13px;
    padding: 3px;
    width: 100%;
  }
  
  .progressbar div {
    background-color: $color_first;
    width: 37%;
    height: 3px;
    border-radius: 10px;
  }